.contain-paging{
    width: 350px;
    height: 40px;
    margin: auto;
    line-height: 40px;
    background-color: honeydew;
    border-radius: 2px;
    padding-left: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.MuiPagination-ul {
    flex-wrap: nowrap !important;
}